.ql-toolbar.ql-snow {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ql-container.ql-snow {
  margin-top: -1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  min-height: 210px;
}
